In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('tmdb_movies_data.csv')  # Reading dataset
df
# Link to dataset : https://www.kaggle.com/datasets/juzershakir/tmdb-movies-dataset

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/1966,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/1966,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/1966,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/1966,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/1966,15,1.5,1966,1.276423e+05,0.000000e+00

# Data Analysis

In [3]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [4]:
df.shape

(10866, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [6]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [7]:
df.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [8]:
df.pop('production_companies') # Dropping column with lots of NULL values

0        Universal Studios|Amblin Entertainment|Legenda...
1        Village Roadshow Pictures|Kennedy Miller Produ...
2        Summit Entertainment|Mandeville Films|Red Wago...
3                Lucasfilm|Truenorth Productions|Bad Robot
4        Universal Pictures|Original Film|Media Rights ...
                               ...
10861                                    Bruce Brown Films
10862    Cherokee Productions|Joel Productions|Douglas ...
10863                                              Mosfilm
10864                              Benedict Pictures Corp.
10865                                            Norm-Iris
Name: production_companies, Length: 10866, dtype: object

In [9]:
df.isna().sum()

id                   0
imdb_id             10
popularity           0
budget               0
revenue              0
original_title       0
cast                76
homepage          7930
director            44
tagline           2824
keywords          1493
overview             4
runtime              0
genres              23
release_date         0
vote_count           0
vote_average         0
release_year         0
budget_adj           0
revenue_adj          0
dtype: int64

In [10]:
df.pop('tagline')
df.pop('homepage')
df.pop('imdb_id')
df.pop('overview')
df.pop('keywords')
# Dropping columns with lots of NULL values

0        monster|dna|tyrannosaurus rex|velociraptor|island
1         future|chase|post-apocalyptic|dystopia|australia
2        based on novel|revolution|dystopia|sequel|dyst...
3                    android|spaceship|jedi|space opera|3d
4                      car race|speed|revenge|suspense|car
                               ...
10861                             surfer|surfboard|surfing
10862                            car race|racing|formula 1
10863                             car|trolley|stealing car
10864                                                spoof
10865                  fire|gun|drive|sacrifice|flashlight
Name: keywords, Length: 10866, dtype: object

In [11]:
df.isna().sum()

id                 0
popularity         0
budget             0
revenue            0
original_title     0
cast              76
director          44
runtime            0
genres            23
release_date       0
vote_count         0
vote_average       0
release_year       0
budget_adj         0
revenue_adj        0
dtype: int64

In [12]:
df.dropna(inplace=True) # Dropping rows withh NULL values inplace

In [13]:
df.isna().sum()

id                0
popularity        0
budget            0
revenue           0
original_title    0
cast              0
director          0
runtime           0
genres            0
release_date      0
vote_count        0
vote_average      0
release_year      0
budget_adj        0
revenue_adj       0
dtype: int64

In [14]:
df.shape

(10732, 15)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10732 entries, 0 to 10865
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10732 non-null  int64
 1   popularity      10732 non-null  float64
 2   budget          10732 non-null  int64
 3   revenue         10732 non-null  int64
 4   original_title  10732 non-null  object
 5   cast            10732 non-null  object
 6   director        10732 non-null  object
 7   runtime         10732 non-null  int64
 8   genres          10732 non-null  object
 9   release_date    10732 non-null  object
 10  vote_count      10732 non-null  int64
 11  vote_average    10732 non-null  float64
 12  release_year    10732 non-null  int64
 13  budget_adj      10732 non-null  float64
 14  revenue_adj     10732 non-null  float64
dtypes: float64(4), int64(6), object(5)
memory usage: 1.3+ MB

In [16]:
df.drop_duplicates(['original_title'],inplace=True) #Dropping Duplicate Titles

In [17]:
df.shape

(10439, 15)

# Content Based System

Only keeping necessary columns required for recommendation

In [18]:
movies = df.loc[:,['original_title','cast','genres','director']]
movies

,original_title,cast,genres,director
0,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,Colin Trevorrow
1,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,George Miller
2,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,Robert Schwentke
3,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,J.J. Abrams
4,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,James Wan
...,...,...,...,...
10861,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Documentary,Bruce Brown
10862,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,Action|Adventure|Drama,John Frankenheimer
10863,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Mystery|Comedy,Eldar Ryazanov
10864,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Action|Comedy,Woody Allen
10865,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Horror,Harold P. Warren

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10439 entries, 0 to 10865
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   original_title  10439 non-null  object
 1   cast            10439 non-null  object
 2   genres          10439 non-null  object
 3   director        10439 non-null  object
dtypes: object(4)
memory usage: 407.8+ KB

Replacing '|' by a space for easier prcessing

In [20]:
movies['cast'] = movies['cast'].apply(lambda x: x.replace("|"," "))
movies['genres'] = movies['genres'].apply(lambda x: x.replace("|"," "))

In [21]:
movies

,original_title,cast,genres,director
0,Jurassic World,Chris Pratt Bryce Dallas Howard Irrfan Khan Vi...,Action Adventure Science Fiction Thriller,Colin Trevorrow
1,Mad Max: Fury Road,Tom Hardy Charlize Theron Hugh Keays-Byrne Nic...,Action Adventure Science Fiction Thriller,George Miller
2,Insurgent,Shailene Woodley Theo James Kate Winslet Ansel...,Adventure Science Fiction Thriller,Robert Schwentke
3,Star Wars: The Force Awakens,Harrison Ford Mark Hamill Carrie Fisher Adam D...,Action Adventure Science Fiction Fantasy,J.J. Abrams
4,Furious 7,Vin Diesel Paul Walker Jason Statham Michelle ...,Action Crime Thriller,James Wan
...,...,...,...,...
10861,The Endless Summer,Michael Hynson Robert August Lord 'Tally Ho' B...,Documentary,Bruce Brown
10862,Grand Prix,James Garner Eva Marie Saint Yves Montand Tosh...,Action Adventure Drama,John Frankenheimer
10863,Beregis Avtomobilya,Innokentiy Smoktunovskiy Oleg Efremov Georgi Z...,Mystery Comedy,Eldar Ryazanov
10864,"What's Up, Tiger Lily?",Tatsuya Mihashi Akiko Wakabayashi Mie Hama Joh...,Action Comedy,Woody Allen
10865,Manos: The Hands of Fate,Harold P. Warren Tom Neyman John Reynolds Dian...,Horror,Harold P. Warren

In [22]:
movies['combined'] = movies['genres'] + " " + movies['cast'] + " " + movies['director']
movies.head()
# Creating a new column for recommendation purposes

,original_title,cast,genres,director,combined
0,Jurassic World,Chris Pratt Bryce Dallas Howard Irrfan Khan Vi...,Action Adventure Science Fiction Thriller,Colin Trevorrow,Action Adventure Science Fiction Thriller Chri...
1,Mad Max: Fury Road,Tom Hardy Charlize Theron Hugh Keays-Byrne Nic...,Action Adventure Science Fiction Thriller,George Miller,Action Adventure Science Fiction Thriller Tom ...
2,Insurgent,Shailene Woodley Theo James Kate Winslet Ansel...,Adventure Science Fiction Thriller,Robert Schwentke,Adventure Science Fiction Thriller Shailene Wo...
3,Star Wars: The Force Awakens,Harrison Ford Mark Hamill Carrie Fisher Adam D...,Action Adventure Science Fiction Fantasy,J.J. Abrams,Action Adventure Science Fiction Fantasy Harri...
4,Furious 7,Vin Diesel Paul Walker Jason Statham Michelle ...,Action Crime Thriller,James Wan,Action Crime Thriller Vin Diesel Paul Walker J...

In [23]:
movies['combined'][0]

"Action Adventure Science Fiction Thriller Chris Pratt Bryce Dallas Howard Irrfan Khan Vincent D'Onofrio Nick Robinson Colin Trevorrow"

In [24]:
movies['original_title'] = movies['original_title'].str.lower()
movies.head()
# For making the process of recommendation easier

,original_title,cast,genres,director,combined
0,jurassic world,Chris Pratt Bryce Dallas Howard Irrfan Khan Vi...,Action Adventure Science Fiction Thriller,Colin Trevorrow,Action Adventure Science Fiction Thriller Chri...
1,mad max: fury road,Tom Hardy Charlize Theron Hugh Keays-Byrne Nic...,Action Adventure Science Fiction Thriller,George Miller,Action Adventure Science Fiction Thriller Tom ...
2,insurgent,Shailene Woodley Theo James Kate Winslet Ansel...,Adventure Science Fiction Thriller,Robert Schwentke,Adventure Science Fiction Thriller Shailene Wo...
3,star wars: the force awakens,Harrison Ford Mark Hamill Carrie Fisher Adam D...,Action Adventure Science Fiction Fantasy,J.J. Abrams,Action Adventure Science Fiction Fantasy Harri...
4,furious 7,Vin Diesel Paul Walker Jason Statham Michelle ...,Action Crime Thriller,James Wan,Action Crime Thriller Vin Diesel Paul Walker J...

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#Importing the necessary modules from sklearn library.

In [26]:
cv = CountVectorizer()
count_vectorizer_matrix = cv.fit_transform(movies['combined'])
count_vectorizer_matrix

# Making an instance of Count Vectorizer and applying fit_transform on combined column of movies_tmdb dataframe which will return the frequency of feature names for each movie.

<10439x18480 sparse matrix of type '<class 'numpy.int64'>'
	with 154013 stored elements in Compressed Sparse Row format>

In [27]:
count_vectorizer_matrix.toarray()[1]

array([0, 0, 0, ..., 0, 0, 0])

In [28]:
similarity_mat=cosine_similarity(count_vectorizer_matrix)

In [29]:
similarity_mat

array([[1.        , 0.27777778, 0.23570226, ..., 0.        , 0.06299408,
        0.        ],
       [0.27777778, 1.        , 0.23570226, ..., 0.        , 0.06299408,
        0.0571662 ],
       [0.23570226, 0.23570226, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.07142857,
        0.        ],
       [0.06299408, 0.06299408, 0.        , ..., 0.07142857, 1.        ,
        0.06482037],
       [0.        , 0.0571662 , 0.        , ..., 0.        , 0.06482037,
        1.        ]])

In [30]:
movies[73:84]

,original_title,cast,genres,director,combined
73,pan,Levi Miller Garrett Hedlund Hugh Jackman Roone...,Adventure Family Fantasy,Joe Wright,Adventure Family Fantasy Levi Miller Garrett H...
74,mythica: the darkspore,Melanie Stone Kevin Sorbo Adam Johnson Jake St...,Action Adventure Fantasy,Anne K. Black,Action Adventure Fantasy Melanie Stone Kevin S...
75,me and earl and the dying girl,Thomas Mann RJ Cyler Olivia Cooke Connie Britt...,Comedy Drama,Alfonso Gomez-Rejon,Comedy Drama Thomas Mann RJ Cyler Olivia Cooke...
76,the peanuts movie,Noah Schnapp Bill Melendez Venus Schultheis Ha...,Adventure Animation Comedy Family,Steve Martino,Adventure Animation Comedy Family Noah Schnapp...
77,concussion,Will Smith Bitsie Tulloch Gugu Mbatha-Raw Alec...,Drama,Peter Landesman,Drama Will Smith Bitsie Tulloch Gugu Mbatha-Ra...
78,the night before,Joseph Gordon-Levitt Seth Rogen Anthony Mackie...,Comedy,Jonathan Levine,Comedy Joseph Gordon-Levitt Seth Rogen Anthony...
79,knock knock,Keanu Reeves Lorenza Izzo Ana de Armas Aaron B...,Drama Horror Thriller,Eli Roth,Drama Horror Thriller Keanu Reeves Lorenza Izz...
80,the longest ride,Scott Eastwood Britt Robertson Lolita Davidovi...,Romance Drama,"George Tillman, Jr.",Romance Drama Scott Eastwood Britt Robertson L...
81,hotel transylvania 2,Adam Sandler Andy Samberg Selena Gomez Kevin J...,Animation Comedy Family,Genndy Tartakovsky,Animation Comedy Family Adam Sandler Andy Samb...
82,love the coopers,Steve Martin Diane Keaton John Goodman Alan Ar...,Family Comedy,Jessie Nelson,Family Comedy Steve Martin Diane Keaton John G...
83,the walk,Joseph Gordon-Levitt Ben Kingsley Charlotte Le...,Adventure Drama Thriller,Robert Zemeckis,Adventure Drama Thriller Joseph Gordon-Levitt ...

In [31]:
movie_index = movies.loc[movies['original_title']=='hotel transylvania 2'].index[0] #Taking a sample movie for trial

In [32]:
movie_list = list(enumerate(similarity_mat[movie_index])) #Making a list of score of similar movies to the sample movie

In [33]:
movie_list = sorted(movie_list , key = lambda x:x[1] ,reverse=True) #Sorting the movies in descending order, as higher the similarity score more similar is the movie w.r.t sample movie.

In [34]:
movie_list = movie_list[1:11] #Dropping the first movie in the list, as it is the same movie(sample movie)

In [35]:
similarmovies = []
for i in range(len(movie_list)):
    a = movie_list[i][0]
    similarmovies.append(movies['original_title'][a])

In [36]:
similarmovies  #We get the similar movies to the sample movie selcted.

['the little rascals',
 'the truth about love',
 'you instead',
 'kull the conqueror',
 'table for three',
 'turbo: a power rangers movie',
 'ravenous',
 'the ridiculous 6',
 'backbeat',
 "gracie's choice"]

# Conclusion:
We can see that if the user has watched the Movie 'hotel transylvania 2', then the user will get above movies as a recommended list.